<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.url}}/assets/style.css">
</head>
<body>

    <header>

        <h1><a href="{{site.url}}">{{site.title}}</a></h1>
        
    </header>

    <nav>
        <ul>
            {% for link in site.navigation %}
            <li><a class="{% if link.href == page.url %}active{% endif %}" href="{{ link.href }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    
    <main>
        <article class="markdown-body">
        {{content}}
        </article>
    </main>

    <footer>
        <section>
            <h3>Contributing</h3>
            <ul>
                <li><a href="{{site.url}}/CONTRIBUTING.html">Contributing guide</a></li>
                <li>GitHub Repository: <a href="{{ site.github.repository_url }}">{{ site.github.owner_name }}/{{ site.github.repository_name }}</a></li>
            </ul>
        </section>
        <section>
            <h3>News</h3>
            <ul>
                <li>🇳🇱 <a href="https://commonground.nl/groups/view/54477168/signalen">Common Ground: Signalen</a></li>
            </ul>
        </section>
    </footer>
</body>
</html>
